@charset "UTF-8";


.item-header p {
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 16px;
}
.item-header h3 {
  font-size: 4vw;
  font-weight: normal;
  color: #fff; }
