@charset "UTF-8";

/* reset */
.section-title { text-align: left;}


.overview{
  position: relative;
  height: 680px;
}
/* .overview .center { position: relative; height: 600px; } */
.overview-img, .overview-info {
  position: relative;
  padding: 40px 20px;
  top: 50%;
  transform: translateY(-50%);
}
.overview-img img {}
.overview-info {}

.overview-info dl { padding: 0 20px; }
.overview-info dl dt{
  font-weight: bold;
  text-align: left;
  width: 100%;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}
.overview-info dl dd {
  margin: 20px 0 30px;
  width: 100%;
  display: block;
  text-align: left;
}

.color {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
}
.overview-btn{
  width: 100%;
  text-align: right;
  padding: 0 20px;
}
.more-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding-right: 25px;
}
.more-link em {
  font-style: normal;
  margin-right: 8px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.arrow {
  width: 18px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.arrow .line {
  width: 18px;
  height: 2px;
  background: #ff1053;
  left: 0;
  backface-visibility: hidden;
  letter-spacing: 0;
  display: block;
  content: ' ';
  z-index: 100;
  position: absolute;
  top: 53.3%;
  opacity: 0;
  right: -10px;
  cursor: pointer;
  transform: translateY(-50%) translateX(-20px) translateZ(0);
  -webkit-transform: translateY(-50%) translateX(-20px) translateZ(0);
  transition: all .3s;
  -webkit-transition: all .3s;
  }
.arrow i {
  display: inline-block;
  line-height: 51px;
  font-size: 14px;
  height: 50px;
  color: #ff1053;
  margin-left: 15px;
  position: absolute;
  right: 9px;
  top: 51%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%) translateZ(0);
  transform: translateY(-50%) translateZ(0);
  transition: all .3s;;
  -webkit-transition: all .3s;
}
.more-link:hover em { color: #ff1053;}
.more-link:hover .arrow .line {
  opacity: 1;
  transform: translateY(-50%) translateX(0px);
  -webkit-transform: translateY(-50%) translateX(0px);
}
.more-link:hover .arrow i {
  transform: translateX(12px) translateY(-50%);
  -webkit-transform: translateX(12px) translateY(-50%);
}


/* 아이콘 디자인 */
.icon-design {
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* 모바일 */
.mobile { background: #f8f8f8;}
.mobile .center { padding: 40px 20px; }
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  text-align: center;
  font-size: 18px;
  background: #transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.swiper-slide.swiper-slide-active{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
.swiper-button-next, .swiper-button-prev {
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  width: 40px;
  height: 40px;
  top: 0;
  margin-top: 0;
  background-color: #ffffff;
  background-image: none;
}
.swiper-button-next i, .swiper-button-prev i{
  font-size: 18px;
  text-align: center;
  width: 40px;
  line-height: 40px;
}
.swiper-button-prev { left: auto; right: 70px;}
.swiper-button-next { left: auto; right: 10px; }
.swiper-pagination-progressbar{
  height: 3px;
  background: #e9e9e9;
  bottom: 20px;
  left: 0; right: 0;
}
.swiper-container-horizontal>.swiper-pagination-progressbar{
  top: auto;
  bottom: 0;
  width: 90%;
  left: 5%;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #ff1053;
}

.screenshot{}
.screenshot img{
  margin: 0 0 5rem 0;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 0%, 0.1);
}



/* 모바일 ========================================*/
@media (max-width:1023px) {
  section { height: auto; padding: 60px 20px; }
  .sub-header { padding: 0 20px; height: 70vh; margin-top: 50px; }
  .sub-header p { max-width: 205px; font-size: 15px; padding-bottom: 6px; }
  .sub-header h3 { font-size: 32px; }

  .overview { height: auto;}
  .overview .wrap { height: auto;}
  .overview-img, .overview-info { top: auto; transform: none; padding: 20px 0;}
  .overview-info {}

  .swiper-button-next, .swiper-button-prev { }
  .swiper-button-next { right: 20px; }
  .swiper-button-prev { right: 80px; }

  .screenshot img { margin-bottom: 20px;}
