@charset "UTF-8";

/* rest ==================================================================== */
*{margin: 0; padding: 0; box-sizing: border-box;}
label, span{display: inline-block;}
li{list-style: none;}
a{text-decoration: none; display: inline-block; color:#717171;}
img{max-width: 100%;}
.skip{font-size: 0;text-indent: -99999px;position: absolute;left: -99999px;}
.text-overflow{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
html, body{width: 100%;}
body{
  font-family: 'NanumSquare', sans-serif !important;
  color: #717171;
  font-size: 15px;
  background: #fff;
  line-height: 1.8;
}

section{
  position: relative;
  padding: 100px 20px;
  width: 100%;
  height: auto;
}
section:before, section:after {
  content: " ";
  display: table;
  clear: both;
}
.center {
  position: relative;
  height: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.section-title { position: relative; margin-bottom: 30px; text-align: center; }
.section-title h2 { font-size: 26px; letter-spacing: 2px; text-transform: uppercase;}
.section-title p { line-height: 1.4; }
.section-title::after {
  content: '';
  position: absolute;
  bottom: -3px;
  transform: translateX(-50%);
  background: #d9d9d9;
  width: 100px;
  height: 1px;
}



/* 사이드바 ================================================================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999999;
  width: 100%;
  height: 88px;
  line-height: 88px;
}
h1.logo {
  display: inline-block;
  font-size: 0;
}
h1.logo a {
  font-size: 26px;
  letter-spacing: 3px;
}
#btn-menu{display: none;}
.btn-menu{display: none;}
.m-logo { display: none;}

nav{
  display: inline-block;
  float: right;
}
.menu a {
	color: #6f6f6f;
  display: block;
  padding: 0 8px;
  float: left;
}
.menu .menu-item-name {
  position: relative;
  font-size: 17px;
	font-weight: bold;
	line-height: 1.4;
  letter-spacing: 2px;
	padding: 0 0.35em;
	transition: color 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}
.menu .menu-item-name::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	opacity: 0.2;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}
.menu .menu-item.disabled {
  opacity: .45;
  cursor: auto;
  pointer-events: none;
}
.menu .menu-item-label {
	font-size: 13px;
  padding: 0 0.35em;
	letter-spacing: 0.05em;
	transition: transform 0.5s, color 0.5s;
}
.menu .menu-item .menu-item-name::before,
.menu .menu-item .menu-item-label::before {
	background: linear-gradient(to right, #ff1053, #ffad96);
}


/* Hover */
.menu .menu-item:hover,
.menu .menu-item:focus {
  color: #ff1053;
}



.footer{
  position: absolute;
  width: 100%;
  bottom: 50px;
  text-align: left;
}
.footer p{ padding-left: 35px; font-size: 13px; line-height: 16px; }

/* 사이드 아이콘 ================================================================= */

.side-icons {
  position: fixed;
  top: 50%;
  right: 25px;
  z-index: 99;
  transform: translateY(-50%);
}
.side-icons ul { }
.side-icons ul li {
  position: relative;
  display: block;
  margin-top: 6px;
  width: 150px;
  height: 50px;
  overflow: hidden;
}
.side-icons li a{
  position: relative;
  display: block;
  font-size: 18px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background: #fff;
  z-index: 2;
  width: 40px;
  float: right;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 50%;
    margin-right: 10px;
}
.side-icons li span {
  position: absolute;
  top: 0; right: -40px;
  width: 80px;
  text-align: right;
  line-height: 40px;
  font-size: 12px;
  z-index: 1;
  opacity: 0;
  transition: all .5s;
  letter-spacing: 1px;

}
.side-icons li:hover span{
  opacity: 1;
  right: 65px;
}

.side-icons li a.btn-top {
  background: linear-gradient(to right, #f87db4, #ffad96);
  color: #fff;
  border: 0;
  letter-spacing: 1px;
  font-size: 12px;
  z-index: 1000;
}


/* 메인 ================================================================= */
.home{ height: 100vh;}
.main-img, .main-content {
  height: 100%;
  position: relative;
}
.main-content{position: relative; padding: 20px;}
.text-wrap, .main-img img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-content img { margin-bottom: 10px; width: 33px; }
.main-content h2 {
  font-size: 17px;
  font-weight: bold;
  color: linear-gradient(to right, #f87db4, #ffad96);
  margin: 0 0 20px 0;
}
strong {
  background: linear-gradient(to right, #f87db4, #ffad96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-content h1{
  font-size: 40px;
  line-height: 52px;
  margin: 0 0 26px 0;
  font-weight: 700;
}
.main-content p {
  font-size: 17px;
  margin: 0 0 30px 0;
  line-height: 1.8;
}
.btn, .btn-down {
  line-height: 45px;
  border-radius: 25px;
  background: linear-gradient(to right, #f87db4, #ffad96);
  box-shadow: 0 6px 25px 0 hsl(353, 94%, 85%);
  color: #fff;
  letter-spacing: 2px;
  width: 160px;
  font-weight: bold;
  text-align: center;
}

.main-img{padding: 20px; text-align: center;}
.main-img img{
  max-width: 360px;
  opacity: 0.7;
}

/* 포트폴리오 ================================================================= */
.portfolio{ height: auto; }
.portfolio-contents{text-align: center;}

.category{
  width: 100%;
  padding: 20px 0 10px;
  margin-bottom: 30px;
}
.filter-label {
  display: inline-block;
  line-height: 25px;
  float: left;
  letter-spacing: 2px;

}
.filter{
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-left: 20px;
  position: relative;
  transition: all .2s ease;
}
.filter li{
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 10px;
  text-transform: uppercase;
}
.filter li a{
  position: relative;
  transition: all 0.3s;
  letter-spacing: 2px;
  line-height: 38px;
  padding: 0 15px;
  font-weight: bold;
  border-radius: 25px;
  color: #676879bd;
}
.filter li.active a{
  box-shadow: 0 4px 15px 0 hsla(0, 0%, 0%, 0.1);
  color: #fc98a4;
}
.item figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 360px;
  background: #000;
  text-align: center;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item figure span {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  /* opacity: 0.8; */
  max-width: none;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}

.item figure p {
  display: block;
  margin: 0;
  color: #fff;
  text-transform: none;
  letter-spacing: 1px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}
.item figure p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  padding-top: 20px;
  font-size: 13px;
  opacity: .65;
}
.item figure p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.6;
}
.item figure p:nth-of-type(3) {
  display: inline-block;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  background: url(../images/arrow-more.png) 85px center no-repeat;
  margin-top: 10px;
  font-size: 14px;
  background-color: #fc95a6c2;
  padding: 0 30px 3px 10px;
}
.item figure figcaption > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item figure:hover span {
  opacity: 0.5;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}
.item figure:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.item figure:hover p:first-child {
  opacity: .65;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item figure:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.item figure:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}




/* 소개 ================================================================= */
.profile{ position: relative; background: #fffbf9; margin: auto;}
.profile-box{padding: 20px;}
.profile-title{ margin-bottom: 30px; border-bottom: 1px solid #d9dce7;}
.profile-title img{ width: 40px; margin: 10px 10px 6px 0; }
.profile-title h3{ font-size: 20px; display: inline-block; vertical-align: text-bottom; line-height: 50px;}
.profile-box .info { position: relative; margin: 0 0 20px 45px; }
.profile-box .info::before{
  content: '';
  position: absolute;
  width: 6px; height: 6px;
  top: 6px; left: -25px;
  background: linear-gradient(to right, #f87db4, #ffad96);
}
.profile-box .info::after{
  content: '';
  position: absolute;
  width: 1px;
  left: -22px;
  top: 12px; bottom: -20px;
  background: #d9dce7;
}

.profile-box .info span { font-size: 13px; }
.profile-box .info h3 { font-size: 17px; line-height: 1; }
.profile-box .info p { line-height: 2.4; font-size: 15px; }



/* services ================================================================== */
.services::before { content: ''; display: table; clear: both;}

ul.chart-container { max-width: 1200px; margin: auto;}
ul.chart-container .pr-chart-ctrl {
  position: relative;
  padding: 20px;
}
.chart-wrap {
  border-radius: 25px;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 0%, 0.05);
  padding: 20px;

}
ul.chart-container .pr-chart-ctrl .pr-chart {
    display:block; position:relative; width:100%; margin:0 0 20px 0; text-align:center; margin-top: 30px;
}
ul.chart-container .pr-chart-ctrl .pr-chart canvas {
display:block; margin:0 auto; padding:0; vertical-align:center;
}
ul.chart-container .pr-chart-ctrl .pr-chart i {
    position:absolute; top:0; left:0; width:100%; height:120px; line-height:120px; font-size:30px; font-style:normal; color: #808080;
}
.chart-info { text-align: center; padding: 0 20px;}
.chart-info h3 { margin: 4px 0 8px; padding:0; text-transform:uppercase;}
.chart-info p { margin: auto; text-align: justify; height: 140px; overflow: hidden;}




/* 연락처 ================================================================= */
.contact { position: relative; height: 100vh;}

.contact-info { text-align: center;}
.contact-info p {}
.contact-info ul{ width: 100%; margin: 20px 0; }
.contact-info ul li{ display: inline-block; padding: 0 20px;}
.contact-info ul li i { margin-right: 10px; }

.contact-form{ max-width: 760px; margin: auto; padding: 20px;}


footer { text-align: center;  background: #fffbf9;}
footer .center { padding: 30px 0; }






/* 모바일 ========================================*/
@media (max-width:1023px) {
  /* reset */
  section{ height: auto;}
  .center {padding: 0;}
  [class*="col-"] { padding: 0; }
  p {font-size: 14px;}

  /* 네비 */
  header { padding: 0 20px; line-height: 50px; height: 50px;}
  h1.logo a { font-size: 20px; }
  .side-nav { width: 240px; left: unset; right: -240px;}
  .btn-menu *, nav, nav *{transition: all 0.5s;}

  nav {
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    left: unset;
    right: -80%;
    box-shadow: 0 5px 30px 0 hsla(0, 0%, 0%, 0.2);
    background: #fff;
  }
  .menu { margin-top: 50px; }
  .menu a { float: none; width: 100%; padding: 0 20px;}

  .btn-menu{
    position: fixed;
    display: block;
    top: 10px; right: 20px;
    height: 30px; width:25px; z-index: 3;
  }
  .btn-menu span{
    width: 20px; height: 2px;
    background: #6f6f6f;
    position: absolute;
    top: 7px;
    transform-origin: 0px 1px;
  }
  .btn-menu span:nth-child(1){bottom: 7px; top:auto;}
  .btn-menu span:nth-child(2){top: 50%; margin-top: -1px;}

  #btn-menu:checked + label span:nth-child(1){transform: rotate(-45deg);}
  #btn-menu:checked + label span:nth-child(2){opacity: 0;}
  #btn-menu:checked + label span:nth-child(3){transform: rotate(45deg);}
  #btn-menu:checked ~ nav{ right: 0;}

  .side-icons {
    position: fixed;
    top: auto;
    right: 0;
    z-index: 99;
    width: 50px;
    height: 40px;
    bottom: 0;
  }
  .side-icons ul li{ display: none; }
  .side-icons ul li:nth-last-child(1) {display: block;}

  /* 메인 */
  .home { margin-top: 60px; height: auto;}
  .main-img, .main-content { height: auto; }
  .text-wrap, .main-img img { text-align: center; transform: none; top: auto;}
  .main-img img { width: 70%;}
  .main-content h2 { margin-bottom: 10px; }
  .main-content h1 { font-size: 28px; line-height: 45px; margin-bottom: 10px;}
  .main-content p { font-size: 13px; margin-bottom: 25px; }
}






/* 태블릿 ========================================*/
@media (min-width:768px)  {}
