@charset "UTF-8";

/* reset ================================================== */
* {
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
label, span{display: inline-block;}
li{list-style: none;}
a{text-decoration: none; display: inline-block; color:#3e3947;}
img{max-width: 100%;}
.skip{font-size: 0;text-indent: -99999px;position: absolute;left: -99999px;}
.text-overflow{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
body {
	font-size: 13px;
	font-family: 'Nanum Gothic', sans-serif;
	line-height: 1.8;
	color: #3e3947;
	background-color: white;
	letter-spacing: .02rem;
}

.section{
  position: relative;
  margin-left: 240px;
  margin-right: 100px;
  padding: 100px 20px 80px;
  height: 100vh;
  z-index: 1;
}
.section::before,.section::after{
	content: '';
	display: table;
}
.container{
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: auto;
	overflow: hidden;
}

#bottom,#up {
  position: fixed;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.6;
  width: 30px;
  height: 30px;
	outline: none;
	border: 0;
	cursor: pointer;
  z-index: 2;
}
#bottom{
  margin-top: 40px;
  background: url("../images/icon-down.png") no-repeat center center;
  background-size: 25px;
}
#up{
  margin-top: -40px;
  background: url("../images/icon-up.png") no-repeat center center;
  background-size: 25px;
}
.nav_trig{
  display:none;
}
#navigation{
  position:fixed;
  width: 120px;
  left: 50px;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index:2;
}
#navigation li{
  text-align:left;
  line-height: 50px;
}
#navigation a{
  display:inline-block;
}
#navigation a:after{
  content="";
  display:table;
  clear:both;
}
#navigation .label{
position: relative;
margin-right: 10px;
padding: .4em .5em;
font-size: 13px;
-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
-moz-transition: -moz-transform 0.2s, opacity 0.2s;
transition: transform 0.2s, opacity 0.2s;
opacity: 0.4;
-webkit-transform-origin: 100% 50%;
-moz-transform-origin: 100% 50%;
-ms-transform-origin: 100% 50%;
-o-transform-origin: 100% 50%;
transform-origin: 100% 50%;
}
#navigation .label::before{
	content: "";
	right: 100%;
	opacity: 0;
	top: 50%;
	width: 0;
	height: 1px;
	background-color: black;
	position: absolute;
	-webkit-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
	-khtml-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
	-moz-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
	-ms-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
	-o-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
	transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
#navigation a:hover .label,
#navigation a.is-selected .label{
  opacity:1;
}
#navigation a:hover .label::before,
#navigation a.is-selected .label::before {
  opacity: 1;
  width: 45px;
}



.btn{
  padding: 10px 20px;
  border: 1px solid;
  position: relative;
  text-align: center;
  font-size: 12px;
  transition: all .2s;
	cursor: pointer;
}
.btn .icon{
  padding-left: 10px;
}
.btn:hover{
  border: 1px solid transparent;
  background: #eee;
  color: #333;
}

.btn.more{
  background: url(../images/bg.jpg);
}
.btn.more span, .btn.more span i{
  color: #eee;
}
.btn.more:hover{
  background: #fff;
  border: 1px solid #333;
}
.btn.more:hover span, .btn.more:hover span i{
  color: #333;
}

/* HEADER --------------------------------------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 100px;
  text-align: center;
  background: #ffffffcf;
}

.logo{
  font-size: 0;
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 1001;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.logo a{
  display: inline-block;
  height: 50px;
}
.logo img{height: 100%;}

.pageLocation {
  display: inline-block;
  margin-top: 25px;
}
.pageLocation ul{}
.pageLocation ul li{
  float: left;
  position: relative;
  height: 50px;
}
.pageLocation ul li:after{
  content: '\e810';
  font-family: Fontello;
  position: absolute;
  right: 0;
  top: 14px;
  opacity: 0.8;
}
.pageLocation ul li:nth-last-child(1):after { display: none;}
.pageLocation ul li a{
  padding: 0 15px;
  line-height: 50px;
  letter-spacing: 3px;
  font-size: 13px;
}

.menu{
  position: fixed;
  width: 40px; height: 40px;
  top: 30px;  right: 45px;
  z-index: 99999;
}
.menu-title{
  right: 40px;
  letter-spacing: 3px;
  position: absolute;
  line-height: 40px;
  font-size: 12px;
}
#btn-menu{display: none;}

.btn-menu {
  position: absolute;
  height: 25px; width: 20px;
  right: 50%; top: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  z-index: 999999;
}

.btn-menu span {
  right: 0;
  width: 20px;
  height: 1px;
  background: #1d1d1d;
  position: absolute;
  top: 4px;
  transform-origin: -2px 1px;
}
.btn-menu span:nth-child(1) {
	bottom: 4px;
	top: auto;
}
.btn-menu span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}

nav.gnb{
  position: fixed;
  background: #1d1d1d;
  top: 0;
  text-align: center;
  right: -100%;
  width: 100%; height: 100vh;
	transition: all .5s;
}
ul.pc-main{
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul.pc-main li{
	position: relative;
  width: 20%; height: 100%;
}
ul.pc-main li::after{
  display: list-item;
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: radial-gradient(#3a3a3a, #fff0);
}
ul.pc-main li a span{
  color: #d7d7d7;
  letter-spacing: 0.2em;
  font-size: 14px;
  z-index: 99999;
  position: absolute;
  top: 50%; transform: translate(-50%,-50%);
}
ul.pc-main li a:hover [class*="nav-img-"]{opacity: 1;}
ul.pc-main li [class*="nav-img-"]{
  background-size: cover;
  background-position: center;
  position: absolute;
	left: 0;
  bottom:0;
  width: 100%; height: 100%;
  opacity: 0; filter: brightness(0.4);
  transition: all 0.2s;
}
.nav-img-01{background-image: url(../images/menu-01.jpg);}
.nav-img-02{background-image: url(../images/menu-02.jpg);}
.nav-img-03{background-image: url(../images/menu-03.jpg);}
.nav-img-04{background-image: url(../images/menu-04.jpg);}
.nav-img-05{background-image: url(../images/menu-05.jpg);}

.rights{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 2em;
  left: 50%; transform: translateX(-50%);
}
.rights p{font-size: 13px; color: #c7c7c7;}

#btn-menu:checked + label span:nth-child(1){transform: rotate(-45deg); background: #fff;}
#btn-menu:checked + label span:nth-child(2){opacity: 0;}
#btn-menu:checked + label span:nth-child(3){transform: rotate(45deg); background: #fff;}

#btn-menu:checked ~ nav.gnb{right: 0;}

.hide-menu{
  position: relative;
  width: calc(100% - 100px);
  height: 80px;
  display: inline-block;
  left: 100px;
}




/*-------- 언어 --------------------------------*/
.lang{
  position: fixed;
  left: 40px; bottom: 30px;
}
.lang ul{}
.lang ul li{
  position: relative;
  float: left;
  width: 40px; height: 40px;
}
.lang ul li a{
  line-height: 40px;
  font-size: 13px;
  opacity: 0.65;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.lang ul li:nth-child(1)::after{
  content: '·';
  position: absolute;
  right: 0;
  width: 4px;
  line-height: 40px;
}
.lang ul li a.active,
.lang ul li a:hover {
  border-bottom: 1px solid;
  opacity: 1;
}


  /*-------- 소셜 아이콘 --------------------------------*/
ul.social{
  position: fixed;
  right: 40px; bottom: 30px;
}
ul.social li{
  position: relative;
  float: left;
}
[class*="social-"]{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  background: url(../images/icon-social.png) no-repeat;
  background-size: 120px;
  overflow: hidden;
  transition: all .3s;
}
.social-facebook {background-position: 5px 6px;}
.social-twitter {background-position: -30px 6px;}
.social-instagram {background-position: -55px 6px;}
.social-youtube {background-position: -85px 6px;}

ul.social li:hover .social-facebook {background-position: 5px -25px;}
ul.social li:hover .social-twitter {background-position: -30px -25px;}
ul.social li:hover .social-instagram {background-position: -55px -25px;}
ul.social li:hover .social-youtube {background-position: -85px -25px;}


/* 메인 =================================================================== */

.column {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.text-box {
  text-align: justify;
  text-indent: 10px;
}
.blockquote {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  text-align: center;
  padding: 10px 3.8vw;
  opacity: 0.7;
  line-height: 1.6;
}
.quote{}

.contents{
  position: relative;
  height: auto%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contents-title{
  display: inline-block;
  margin-bottom: 20px;
}
.point {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding-right: 20px;
  box-sizing: border-box;
}
.point-label{
  font-size: 12px;
  letter-spacing: 0.5px;
}
.point-number{
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 24px;
}
.point::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 10%;
  background: #dbdbdb;
  height: 70%;
  width: 1px;
}
.contents-title h2{
  display: inline-block;
  padding-left: 20px;
  line-height: 53px;
  vertical-align: bottom;
}
.contents-text {
  text-indent: 10px;
  text-align: justify;
}
.contents-img{
  margin-top: 50px;
  width: 100%;
  padding: 10px;
}
.contents-img::after{
  content: '';
  display: table;
  clear: both;
}
.img-wrap {
  overflow: hidden;
  height: 20vw;
}
.inner-img{
  position: relative;
    width: 100%;
    height: 100%;
  background-size: contain;
}







/* 스마트폰 0~767px xs*/
@media (max-width:767px) {
}

/* 태블릿 768px이상 sm */

@media (max-width: 992px){
	#navigation, [class*="scroll_"], .lang, ul.social {display: none;}
	.section{margin: auto; padding: 80px 20px 50px;}
}

/* 작은데스크탑 992px이상 md */
@media (min-width:991px) and (max-width:1024px){
	.section{margin-left: 200px;}

}
