@charset "UTF-8";

header{ background: transparent;}
.menu-title{ color: #eee;}
[class*="social-"] { filter: invert(1);}
  .btn-menu span{background: #fff;}
  .search-icon-btn{filter: invert(1); opacity: 1;}
  .lang ul li a{color: #fff;}

  #videoBg{
    position: fixed;
    right: 0; bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background: url(../images/main01.jpg) center center fixed no-repeat;
    background-size: cover;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

.container{
  position: absolute;
  top: 0;
  width: 100%;
}
.swiper-slide::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}

.main{
  position: relative;
  width: 100%;
  height: 100%;

}


.main .container{ padding: 5% 12%;}
.main_right{
  position: relative;
  float: right;
  height: 100%;
}


.title{
  z-index: 2;
  position: relative;
  height: auto;
  text-align: left;
}

.title_01 img{
  width: 300px;
  padding: 10px 0;
}
.title_01{
  position: relative;
  padding: 5px 0 20px;
}
.title_01 p{
  text-align: left;
  padding: 0 20px;
  bottom: 20px;
  line-height: 1.2;
  letter-spacing: 1.5px;
  font-size: 20px;
  position: relative;
  display: inline-block;
}
.title_01 .small{
  display: block;
  font-size: 16px;
  padding-top: 0.5em;
}
.title_02{
  position: relative;
  margin: 20px 0;
  text-align: left;
}
.contents{
  width: 420px;
    text-align: justify;
    text-indent: 10px;
}
.title_02 p::before{
  content: '';
  position: absolute;
  left: 0;
  width: 3px;
  height: 85%;
  background: #d7d7d7;
  bottom: 0px;
}

.title_02 p{
  position: relative;
  font-size: 18px;
  padding: 0 20px;
}
.title_02 p sup{font-size: 10px;}
.view_more{
  margin: 40px 0 0 20px;;
  padding: 2px 25px;
  font-size: 11px;
  border: 1px solid #eee;
  color: #eee;
  line-height: 30px;
  text-align: center;
  right: 0; top: 0;
  }
.view_more .icon{
  padding-left: 10px;
}
.view_more:hover{
  border: 1px solid transparent;
  background: #eee;
  color: #333;
}

.main_bottom{
  z-index: 2;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
ul.sub-txt{
  width: auto;
  position: relative;
  margin: auto;
  display: inline-block;
}
ul.sub-txt li{
  font-size: 13px;
  color: #9a9a9a;
  float: left;
  padding: 20px 60px;
}
.sub-txt-col{position: relative;}
.leaf_left, .leaf_right{
  width: 20px;
  position: absolute;
  top: 0;
}
.leaf_left{left: -30px;}
.leaf_right{right: -30px;}


.view_more{}
.view_more a{
  font-size: 12px;
  padding: 12px 24px;
  border: 1px solid;
}
.view_more a .icon{padding-left: 15px;}
.view_more a:hover{
  border: 1px solid transparent;
  background: #eee;
  color: #1d1d1d;
}
.main_bg{

}
.main_bg img{

}
img.andreas_shadow{right: 0; }


footer{
  padding: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer_wrap{
  position: relative;
}

.outline{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #fff;
}
.outline_bottom{
}
.outline_right{
}


@media (min-width:992px) {
  .main-bottom{padding-top: 50px;}
}
