@charset "UTF-8";

/* fontello */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?61600350');
  src: url('../font/fontello.eot?61600350#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?61600350') format('woff'),
       url('../font/fontello.ttf?61600350') format('truetype'),
       url('../font/fontello.svg?61600350#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* reset ================================================== */

*{margin: 0; padding: 0; box-sizing: border-box;}
label, span{display: inline-block;}
li{list-style: none;}
a{text-decoration: none; display: inline-block; color: #706f6f;}
img{max-width: 100%;}
.skip{font-size: 0;text-indent: -99999px;position: absolute;left: -99999px;}
.text-overflow{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
  color: #706f6f;
  width: 100%; height: 100%;
  word-break: break-all;
  font-size: 14px;
  font-weight: normal;
  font-family: 'NanumSquare', sans-serif !important;
  line-height: 1.6;
  overflow-y: scroll;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
  position: relative;
}
.container::after,section::after{
  content:'';
  clear:both;
  display: table;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background: #000715;
  opacity: 0.5;
}

.btn-box{
  margin: 20px auto;
  text-align: center;
}
.btn{
  background: #fff;
  outline: none;
  padding: 8px 30px;
  border: 1px solid #999;
  transition: all .3s;
}
.btn a{ font-size: 14px; }
.btn:hover{ background: #46b8e8; border: 1px solid #46b8e8;}
.btn:hover a{color: #fff;}


a.more{
  font-size: 13px;
  transition: all .3s;
  cursor: pointer;
  opacity: 0.8;
}
a.more::after{ content: '\e80a'; font-family: Fontello; padding: 0 10px;}
a.more:hover{opacity: 1;}

button.more{
  font-size: 13px;
  transition: all .3s;
  border: 0;
  outline: none;
  background: transparent;
}
button.more a{
  padding-right: 20px;
  background: url(../images/icon_more_arrow.png) right center no-repeat;
}
button.more span{font-size: 13px; color: #fff;}

.line{
  display: block;
  width: 20px;
  margin: 10px 0;
  border-top: 1px solid #d9d9d9;
}
.line_center{
  display: block;
  width: 40px;
  margin: 10px auto;
  border-top: 1px solid #d9d9d9;
}

.pink{color: #e72f78;}
.blue{color: #079bd9;}

[class*="padding"]{
  padding: 20px;
}

[class*="col-"]{
  float: left;
}
/* 스마트폰 0~767px xs*/
@media (max-width:767px) {
  .col-xs-1{width: 8.33%;}
  .col-xs-2{width:16.66%;}
  .col-xs-3{width:25%;}
  .col-xs-4{width:33.33%;}
  .col-xs-5{width:41.66%;}
  .col-xs-6{width:50%;}
  .col-xs-7{width:58.33%;}
  .col-xs-8{width:66.66%;}
  .col-xs-9{width:75%;}
  .col-xs-10{width: 83.33%;}
  .col-xs-11{width: 91.66%;}
  .col-xs-12{width:100%;}
}

/* 태블릿 768px이상 sm */
@media (min-width:768px) {
  .col-sm-1{width: 8.33%;}
  .col-sm-2{width:16.66%;}
  .col-sm-3{width:25%;}
  .col-sm-4{width:33.33%;}
  .col-sm-5{width:41.66%;}
  .col-sm-6{width:50%;}
  .col-sm-7{width:58.33%;}
  .col-sm-8{width:66.66%;}
  .col-sm-9{width:75%;}
  .col-sm-10{width: 83.33%;}
  .col-sm-11{width: 91.66%;}
  .col-sm-12{width:100%;}
}

/* 작은데스크탑 992px이상 md */
@media (min-width:992px) {
  .col-md-1{width: 8.33%;}
  .col-md-2{width:16.66%;}
  .col-md-3{width:25%;}
  .col-md-4{width:33.33%;}
  .col-md-5{width:41.66%;}
  .col-md-6{width:50%;}
  .col-md-7{width:58.33%;}
  .col-md-8{width:66.66%;}
  .col-md-9{width:75%;}
  .col-md-10{width: 83.33%;}
  .col-md-11{width: 91.66%;}
  .col-md-12{width:100%;}
}

/* 큰데스크탑 1200px이상 lg */
@media (min-width:1200px) {
  .col-lg-1{width: 8.33%;}
  .col-lg-2{width:16.66%;}
  .col-lg-3{width:25%;}
  .col-lg-4{width:33.33%;}
  .col-lg-5{width:41.66%;}
  .col-lg-6{width:50%;}
  .col-lg-7{width:58.33%;}
  .col-lg-8{width:66.66%;}
  .col-lg-9{width:75%;}
  .col-lg-10{width: 83.33%;}
  .col-lg-11{width: 91.66%;}
  .col-lg-12{width:100%;}
}



/* header */
header{ position: fixed; width: 100%; height: 180px; top: 0; z-index: 99999;
  background: #fff; border-bottom: 1px solid #dbdbdb;}
header .center{height: 250px; z-index: 2; }
header h1{ text-align: center; padding-top: 30px;}
header h1 a{ line-height: 0; display: block; }
header h1 a img{ height: 50px; margin: 20px 0;}


/* 유틸 */
header nav .util-nav{
  position: absolute; top: 0; left: 0; padding: 0 20px; width: 100%; line-height: 30px;}
header::before{
  content: ''; position: absolute; width: 100%; height: 30px;
  background-image: url(../images/bg_pattern.png);
  background-color: #333;
}
header nav .util-nav .util-left{ float: left; }
.util-left {}
.util-left li{ float: left; padding: 0 10px;}
.util-left li:nth-child(1){ background: #079bd9;}
.util-left li:nth-child(2){ background: #777;}
.util-left li a{ font-size: 13px; color: #fff; opacity: 0.8; }

header nav .util-nav .util-right { float: right;}
.util-right ul{ float: left;}
.util-right ul > li{ position: relative; float: left; padding: 0 10px; }
.util-right ul > li::after{
  content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
  width: 1px; height: 10px; background: #dbdbdb; }
.util-right ul > li:nth-child(3)::after{display: none;}
.util-right ul > li > a{ font-size: 13px; color: #fff; opacity: 0.8;}
.util-right ul > li > a:hover{ opacity: 1; }

/* 통합검색 */
header form.search-form{position: absolute; left: 20px; bottom: 20px; }
header form.search-form input{
  border: solid 1px #f3f3f3;
  background: #f3f3f3;
  padding: 9px 10px 9px 38px;
  width: 200px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  outline: none;
}
header form.search-form input:focus {
  background-color: #fff;
  border-color: #dbdbdb;
  -webkit-box-shadow: 0 0 5px rgba(167, 167, 167, 0.5);
  -moz-box-shadow: 0 0 5px rgba(167, 167, 167, 0.5);
  box-shadow: 0 0 5px rgba(167, 167, 167, 0.5);
}
header form.search-form .icon-search{
  position: absolute; background: none; border: 0; cursor: pointer;
  width: 40px; line-height: 35px; left: 0px; font-size: 18px; color: #767676;
  transform: rotate(90deg);
}

/* 소셜 */
.social{ position: absolute; right: 20px; bottom: 20px;}
.social ul{}
.social ul li{ float: left; position: relative; height: 30px; margin-right: 15px;}
.social ul li:nth-child(3){ padding-right: 20px; }
.social ul li:nth-child(3)::after{
  content: ''; position: absolute; width: 1px; height: 15px; background: #a6a5a4;
  right: 0; top: 50%; transform: translateY(-50%);
}
.social ul li:nth-child(4) {margin-right: 0;}
.social ul li img{ margin: 1px 0; height: 28px; opacity: 0.8;}
.social ul li a{ line-height: 0; font-size: 17px; opacity: 0.8; transition: all .3;}
.social ul li a:hover{ opacity: 1; }
.social ul li a i{line-height: 30px; }

/* 네비게이션 */
header::after{
  content: ''; position: absolute; display: block; width: 100%; height: 0px;
  transition: all 0.5s; z-index: 1;  background-color: #fff; top: 180px;
  box-shadow: 0 10px 30px 0 hsla(0, 0%, 0%, 0.05);
}
header.on::after{height: 250px;}
header nav .icon-menu{display: none;}
/* 1depth */
header nav .gnb-nav{position: absolute; top: 120px; left: 0; width: 100%; z-index: 2;}
header nav .gnb-nav > li{ position: relative; float: left; width: 16.66%;}
header nav .gnb-nav > li > a{
  display: block;  position: relative; font-size: 18px; font-weight: bold;
  line-height: 53px; text-align: center;}
header nav .gnb-nav > li.active > a,
header nav .gnb-nav > li:hover > a{}
/* 빨간 밑줄 */
header nav .gnb-nav > li > a::after{
  content: ''; position: absolute; width: 0%; height: 2px; background: #079bd9;
  bottom: 0px; left:50%; transform: translateX(-50%); transition: all 0.5s; }
header nav .gnb-nav > li.active > a::after,
header nav .gnb-nav > li:hover > a::after{width: 50%;}
/* 2depth */
header nav .gnb-nav li ul{
  display: none; position: absolute; text-align: center; width: 100%;
  height: 250px; padding-top: 20px; }
header nav .gnb-nav li ul li{}
header nav .gnb-nav li ul li a{font-size: 14px; line-height: 30px; transition: all .3s; }
header nav .gnb-nav li ul li a.active,
header nav .gnb-nav li ul li a:hover{ color: #079bd9; }

.wrap{margin-top: 65px;}

/* 서브 페이지 */
section.sub_main{
  position: relative;
  margin-top: 180px;
  width: 100%; height: 250px;
  background: url(../images/main_visual_gmt.jpg) center no-repeat;
  background-size: cover;
}
.sub_main_title{
  position: relative;
  text-align: center;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.sub_main_title h1{font-size: 32px; font-weight: normal;}
.sub_main_title p{font-size: 18px;}

.nav_left{
  height: 50px;
  background: #fff;
}
.nav_left ul{width: 100%; display: block;}
.nav_left ul li{
  position: relative;
  float: left;
  text-align: center;
  border-bottom: 1px #e5e5e5 solid;
  transition: all .3s;
}
.nav_left ul li a{
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background: url(../images/icon_nav_on.png) no-repeat center 55px;
  transition: all .2s;
}
.nav_left ul li.active,
.nav_left ul li:hover{
  border-bottom: 1px #185cab solid;
}
.nav_left ul li.active a,
.nav_left ul li:hover a {
  background: url(../images/icon_nav_on.png) no-repeat center bottom;
  color: #185cab;
}
.nav_left ul li::after{
  display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    height: 14px;
    border-right: 1px #e6e6e6 solid;
}
.nav_left ul li:nth-last-child(1)::after{
  display: none;
}
.sub_cont{
  padding: 20px 10px;
}

.section_title{
  padding: 40px 20px 0;
  text-align: center;
}
.section_title h1{
  display: block;
  margin-bottom: 6px;
  font-size: 26px;
}
.section_title p{
  max-width: 500px;
  font-size: 15px;
  margin: 10px auto 40px;
}
.section_title_icon{
  height: 30px;
  margin-bottom: 30px;
  display: block;
}
.section_title_icon li{
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}
.section_title_icon li a{
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 50%;
  background: #ededed;
}
.section_title_icon li a i{
  line-height: 25px;
}

.sub_tab{
  height: 50px;
}
.sub_tab ul{
  display: block;
  width: 100%;
}
.sub_tab ul li{
  position: relative;
  float: left;
  text-align: center;
  width: 25%;
  transition: all .3s;
}
.sub_tab ul li a{
  height: 50px;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  border-bottom: 1px solid #e3e3e3;
  font-size: 15px;
  line-height: 50px;
  position: relative;
  letter-spacing: 1px;
}
.sub_tab ul li.active{
  color: #2052cb;
  border-top: 1px solid #2052cb;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.sub_tab ul li.active a{
  color: #2052cb;
  border-bottom: 1px solid #fff;
  height: 48px;
}
.sub_tab ul li:hover a{
  color: #2052cb;
}


.board{
  padding: 30px 0;
}

.board-top{
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}
.page-info{
  display: inline-block;
  line-height: 30px;
}
.page-info span{}
.page-info span strong{ color: #2052cb; }
.page-info span:nth-child(1){
  padding-right: 10px;
  margin-right: 5px;
  background: url('../images/line.gif') right center no-repeat;
}
.board-search{
  float: right;
}
.board-category{
  float: left;
  height: 30px;
  font-size: 13px;
  padding: 0 5px;
  color: #706f6f;
  border: 1px solid #d9d9d9;
  vertical-align: middle;
}
.search-bar{
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.search-bar input{
  width: 250px;
  height: 30px;
  text-indent: 10px;
  font-size: 13px;
  border: 1px solid #dbdbdb;
  padding: 0px 30px 0 5px;
  vertical-align: middle;
}
.search-bar button{
  position: absolute;
  background: none;
  cursor: pointer;
  border: 0;
  outline: none;
  color: #706f6f;
  width: 30px; height: 30px;
  line-height: 30px;
  right: 0px;
}
.board-pagination{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 45px;
  overflow: hidden;
}
.board-pagination ul{
  margin: 0 auto;
  width: auto;
  max-width: 260px;
  overflow: hidden;
}
.board-pagination li{
  float: left;
  margin: 0 6px;
}
.board-pagination li a{
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid transparent;
  transition: all .3s;
  }
.board-pagination li:hover a,
.board-pagination li.on a{
  background: #1871a9;
  border: 1px solid #1871a9;
  color: #fff;
}
.board-pagination li.prev-page a,
.board-pagination li.next-page a{
  border: 1px solid #999;
  opacity: 0.5;
  cursor: default;
}
.board-pagination li.prev-page.active a,
.board-pagination li.next-page.active a{
  opacity: 1;
  cursor: pointer;
}

/* footer */
footer{ position: relative; margin-top: 40px; background: #f5f5f5; padding-bottom: 20px; }
footer h1{ float: left; position: relative; height: auto; top: 0px; padding: 0 20px;}
footer h1 img{ height: 60px; }

.footer-top{ position: relative; width: 100%; height: 60px;
  border-bottom: 1px solid #dbdbdb; margin-bottom: 25px; }
ul.footer_menu{ float: left; }
ul.footer_menu li{ position: relative; float: left; line-height: 60px;
  text-align: center; font-size: 13px; padding: 0 15px; }
ul.footer_menu li::after{
  content: ''; position: absolute; width: 1px; height: 14px; background: #d6d6d6;
  right: 0; top: 50%; transform: translateY(-50%); }
ul.footer_menu li:nth-child(5)::after{ width: 0; }
ul.footer_menu li a{}
ul.footer_menu li:nth-child(1) a{color: #079bd9;}
ul.footer_menu li a:hover{
  color: #079bd9;
}
/* 패밀리사이트 */
.family-site{ float: right; }
.family-site .link-box{ float: left; position: relative; padding-left: 5px;
  border: 1px solid #dedede; font-size: 13px;
  height: 30px; color: #767676; outline: none; margin: 15px 10px 15px 0; }

.footer_info{ display: inline-block; padding-bottom: 20px;}
.footer_info p{ padding: 0 15px; font-size: 13px; line-height: 22px; }
.footer_info .adress{clear: both;}
.footer_logo{ float: right; bottom: 20px; position: absolute; height: auto;
  padding: 0 20px; right: 0; }
.footer_logo img{
  height: 40px;
  margin: 0 10px;
}



/* 모바일 */
@media (max-width: 767px) {
  body{font-size: 13px;}
  .container{ padding: 0; }

  /* header */
  header{position: fixed; top:0; width:100%; height: 65px; background: #fff; z-index: 1000;}
  header::before{display: none;}
  header .center{height: 50px;box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);}
  header h1{text-align: left; padding-top: 5px;}
  header h1 a img{height: 35px; margin: 10px; }

  /* 통합검색 */

  header form.search-form{ width: 90%; left: unset; bottom: unset; top: 55px; right: 5%;}
  header form.search-form input{
    width: 100%; padding: 9px 10px 9px 32px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  header form.search-form input:focus{
    padding-right: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  header form.search-form .icon-search{
    left: unset; right: 0; transform: rotate(0);}

  /* 네비게이션 */
  header nav{position: fixed; top:0; right:-70%; width:70%; height: 100%;
    background: #fff; transition: left 0.5s; z-index: 2;
  }
  /* 네비게이션 활성화시 그림자 */
  header.on nav{ right:0;}
  header::after{transition: none;}
  /* 네비게이션 활성화시 백그라운드처리 */
  header.on::after{height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);}
  header nav #btn-menu{
    line-height: 65px;
    display: block;
    position: absolute;
    top: 0;
    left: -45px;
    font-size: 25px;
    background: none;
    border: 0;
    color: #706f6f;
    outline: none;
  }
  header nav #btn-menu.icon-cancel{left: -35px; color: #fff; }

  header nav .util-nav{ background: #079bd9; line-height: 40px; }
  header nav .util-nav .util-left{ display: none;}
  header nav .util-nav .util-right{ float: left; }
  .social{width: 100%; right: 0; bottom: 30px; text-align: center;}
  .social ul{display: inline-block;}

  /* 1depth */
  header nav .gnb-nav{
    position: absolute; left: 0; top: 100px;bottom: 0; transform: none; width: 100%;
    overflow-x: hidden; overflow-y: auto;
  }
  header nav .gnb-nav > li{ width: 100%; float: none; padding: 0 25px; }
  header nav .gnb-nav > li > a{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    text-align: left;
  }

  /* 빨간 밑줄=>위아래 아이콘으로 변경(스크립트로 처리하지 않을시) */
  header nav .gnb-nav > li > a::after{
    content: '\f004'; font-family: "fontello"; font-size: 11px;
    background: none; top: 0; right: 0; left: initial;
    width: 10px !important;
  }
  header nav .gnb-nav > li.active > a::after, header nav .gnb-nav > li:hover > a::after{
    content: '\f005';
  }

  /* 영문,한글 */
  header nav .gnb-nav > li > a span{background: none; padding-left: 10px;}
  header nav .gnb-nav > li > a span.ko{text-align: left; color:#fff; background:#a50000;}

  /* 2depth */
  header nav .gnb-nav li ul{position: static; text-align: left; height: auto; padding: 0 0 0 25px;
  line-height: 40px; box-sizing: border-box;}
  header nav .gnb-nav li ul li a{font-size: 14px; line-height: 40px; display: block;}
  header nav .gnb-nav li ul li a.active,
  header nav .gnb-nav li ul li a:hover{text-decoration: none;}
  header nav .gnb-nav li ul li a::before{content: '-'; padding-right: 5px;}

  section.sub_main{ margin-top: 65px; }


  .nav_left ul li a{font-size: 13px;}
  .sub_tab{}
  .sub_tab ul li a{font-size: 13px;}
  .section_title h1{font-size: 2em;}

  /* borar */
  .board{padding: 20px 0;}
  .board-top{height: 80px;}
  .page-info{display: block;}
  .board-search{display: block; width: 100%; margin-top: 5px;}
  .board-category{margin: 0; float: left; width: 40%;}
  .search-bar{margin: 0; width: 60%;}
  .search-bar input{width: 100%;}

  /* footer */
  footer{padding-bottom: 0;}
  .footer-top{height: 80px; border: 0;}
  ul.footer_menu{}
  ul.footer_menu li{width: 33.33%; line-height: 40px; border-bottom: 1px solid #dbdbdb;border-top: 1px solid #dbdbdb;}
  ul.footer_menu li:nth-child(1),ul.footer_menu li:nth-child(2){width: 50%;}
  ul.footer_menu li::after{height: 100%;}
  ul.footer_menu li:nth-child(2)::after{display: none;}

  footer h1{display: none;}
  .family-site{display: none;}
  .footer_info{ text-align: center; display: block; margin-bottom: 0;}
  .footer_logo{ display: none;}

}



/* 태블릿 */
@media (min-width: 768px) and (max-width: 992px){

  #btn-search-open{right:20px;}



  /* footer */
  footer{text-align: center;}
  .family-site{display: none;}
  footer h1{display: none;}
  ul.footer_menu { width: 100%; float: initial;}
  ul.footer_menu li{width: 20%;}
  .footer_logo{position: relative; display: block; bottom: 0; width: 100%;}
  .footer_logo img{ height: 35px;}
}
