
.icon-search:before { content: '\e800'; } /* '' */
.icon-ticket:before { content: '\e801'; } /* '' */
.icon-zoom-in:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-right-small:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e806'; } /* '' */
.icon-print:before { content: '\e808'; } /* '' */
.icon-share:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-popup:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-paper-plane:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e811'; } /* '' */
.icon-play:before { content: '\e812'; } /* '' */
.icon-fast-forward:before { content: '\e813'; } /* '' */
.icon-fast-backward:before { content: '\e814'; } /* '' */
.icon-left-open-mini:before { content: '\e815'; } /* '' */
.icon-left-small:before { content: '\e816'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */