@charset "UTF-8";

section.sub_main{
  background: url(../images/sub-02.jpg) center no-repeat;
}
.nav_left ul li{width: 25%;}

.board-list{}
.board-list ul{}
.board-list ul li{
  border-bottom: 1px solid #ededed;
}
.board-list ul li .cell{
  position: relative;
  margin: 20px 0;
  padding: 30px;
  transition: all .3s;
}
.board-list ul li .cell:hover{  background: #f7f7f7; }
.board-list ul li .cell:hover .title{ color: #2052cb; }
.board-list .tag{
  position: absolute;
  left: 0;
  top: 0;
}
.board-list figure{
  width: 100%;
  overflow: hidden;
}
.board-list figure img{
}
.board-list figure figcaption{
  display: inline-block;
  padding-left: 50px;
  vertical-align: top;
}
.text-wrap{
  padding: 10px 0;
  position: relative;
}
.text-wrap .title{
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-wrap .title .subtitle{
  font-weight: normal;
  font-size: 15px;
}
.text-wrap .text{
  text-align: justify;
  line-height: 25px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}
.text-wrap .date{
  position: absolute;
  right: 0;
  bottom: 10px;
}
.text-wrap .date .sort{
  padding-right: 10px;
  margin-right: 9px;
  background: url('../images/line.gif') right center no-repeat;
}
.text-wrap a{
  padding-right: 20px;
  opacity: 0.7;
  background: url(../images/icon_more_arrow.png) right center no-repeat;
  transition: all .3s;
}
.text-wrap a:hover{
  opacity: 1;
}



@media (max-width: 767px){
  .nav_left ul li { width: 50%;}
  .sub_cont { margin-top: 40px;}

  .board-list ul li .cell{padding: 0 15px;}
  .board-list figure figcaption{padding: 0;}
  .text-wrap{padding: 15px 0 0;}
  .text-wrap .date{bottom: 0;}

}
