
.icon-search:before { content: '\e800'; } /* '' */
.icon-ticket:before { content: '\e801'; } /* '' */
.icon-zoom-in:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-right-small:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e806'; } /* '' */
.icon-user-outline:before { content: '\e807'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */